.record{
  align-content: center;
  justify-content: center;
  padding-bottom: 10px;
  display:grid;
  row-gap: 10px;
  
}

.create{
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  background-image: radial-gradient(rgb(6, 252, 149),aquamarine,rgb(0, 238, 255));
}

.head{
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 40px;
  display: flex;
}

.pri{
  border-radius:10px;
  width:120px;
  height:40px;
  color:rgb(13, 13, 14);
  background-color:rgb(179, 255, 0);
}

.list{
  justify-content: center;
  display:grid;
  background-image: linear-gradient(aquamarine,aqua,rgb(0, 183, 255));
  padding-top:20px;
  padding-bottom:20px;
}

.btn{
  justify-content: center;
  display: flex;
  padding-top: 20px;  
}

.info{
  background-image: linear-gradient(rgb(115, 250, 115),rgb(0, 225, 255));
  height: 100vh;
}

.edit{
  background-color:rgb(229, 255, 0);
  padding-right:10px;
  margin-right:10px;
}

.del{
  background-color:rgb(255, 0, 0);
  padding-left:10px;
  margin-left:10px;
}

